<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Lenslocked</title>
</head>
<body class="flex flex-col min-h-screen">
	<main class="flex-1 p-6">
		{{template "page" .}}
	</main>
	<footer class="bg-indigo-600 p-2">
		<p class="text-center text-white">Copyright &copy; Lenslocked 2022</p>
	</footer>
</body>
</html>
