{{define "page"}}
<h1 class="pb-4 text-4xl semibold tracking-tight">Lens Locked FAQ</h1>
<ul class="grid grid-cols-2 gap-16">
	{{range .}}
		{{template "qa" .}}
	{{end}}
</ul>
{{end}}

{{define "qa"}}
<li class="border-t-2 border-indigo-400 py-1 px-2">
	<span class="block font-semibold text-lg text-gray-800">{{.Question}}</span>
	<span class="block text-sm text-gray-500">{{.Answer}}</span>
</li>
{{end}}
